<P>勤務時間変更</P>

<%= form_with model:@working_time, url: bosses_worker_working_time_path(@working_time.worker_id,@working_time.id), method: :PUT, local:true do |f| %>

<h4>開始時刻</h4>
<%= f.datetime_select :start_at,{:end_year => 2030} %>

<h4>終了時刻</h4>
<%= f.datetime_select :finish_at,{:end_year => 2030} %>

<%= f.submit '変更' %>
<% end %>