<p>業務時間</p>

<table>
  <tr>
    <td>name</td>
    <td><%= current_worker.first_name %></td>
    <td><%= current_worker.last_name %></td>
  </tr>
</table>

<p><%= @working_time.start_at %>~<%= @working_time.finish_at %></p>