<p>業務時間</p>

<table>
  <tr>
    <td>name</td>
    <td><%= @worker.first_name %></td>
    <td><%= @worker.last_name %></td>
  </tr>
</table>

  <p>勤務時間</p>
  <% if @working_time.present? %>
    <p><%= l @working_time.start_at, format: :short %>  ~  <%= l @working_time.finish_at, format: :time %></p>
  <% elsif %>
    <P>未定</P>
  <% end %>
