<p>業務時間</p>

<table>
  <tr>
    <td>name</td>
    <td><%= @worker.first_name %></td>
    <td><%= @worker.last_name %></td>
  </tr>
</table>

  <p>勤務時間</p>
  <% if @working_time.present? %>
    <p><%= @working_time.start_at %>~<%= @working_time.finish_at %></p>
  <% elsif %>
    <P>未定</P>
  <% end %>
