<h1>勤怠管理システム：：Ssystem</h1>
<p>ノーサビ残</p>

<%= link_to "管理者ログイン", new_boss_session_path %>
<%= link_to "労働者ログイン", new_worker_session_path %>


<p>初めての方はこちら</p>
<%= link_to "労働者登録", new_worker_registration_path %>
