
<div class="container">
  <div class="row">
    <h3 class="p-3"><span class="header">労働者一覧</span></h3>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="worker_index_table">
        <tr>
          <td class="align-middle">氏名</td>
          <td class="align-middle">　</td>
          <td class="align-middle">最終ログイン時刻</td>
          <td class="align-middle">　</td>
          <td class="align-middle"></td>
        </tr>

        <% @workers.each do |worker| %>
          <tr>
            <td class="align-middle"><%= worker.full_name %></td>
            <td class="align-middle">　</td>
            <td class="align-middle"><%= l worker.current_sign_in_at, format: :short %></td>
            <td class="align-middle">　</td>
            <td class="align-middle"><%= link_to "詳細", bosses_worker_path(worker.id),class: "btn btn-outline-secondary nav-link mx-2 text-dark" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>