<p>詳細ページ</p>

<p>name</p>
<p><%= @worker.full_name %></p>

<p>勤務時間</p>
<% if WorkingTime.exists?(worker_id: @worker.id) %>
<p><%= @working_time.start_at %>~<%= @worker_time.finish_at %></p>

<% end %>
<%= link_to "編集", edit_bosses_worker_path(@worker.id) %>
